

#contact{
  background-color: #616161;
  color: white;
  padding:5px;

}
.address{
  text-align:center;
  
}
a i {  text-decoration: none; color: black; font-size: 50; }

 h1.ui.center.header {
        margin-top: 1em;
        margin-bottom: 1em;
      }
