.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
html, body{
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin:0;
  height: 100%;
  width: 100%;
}
body{
    /*background-image: url('https://i.imgur.com/d59jgJM.jpg');*/
    background-size: cover;
    background-color: #E3F2FD;
}
h1{
  margin:auto;
  margin-top:0;
}

.arrow{
  color: rgb(44, 95, 195);
  cursor:pointer;
  float:right;
}

.details{

}
.title-image{
  width: 100%;
  height: 100%;
  background-color: rgb(58, 155, 172);
  text-align:center;
  background-image: url('https://i.imgur.com/d59jgJM.jpg');
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
}

.title-carousel{
  height: 100%;
  text-align:center;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
}
.carousel{
  height:100%;
}
.carousel-img{
  height: 100%;
  width: 100%;
}
.slide{
  display: table-cell;
  height:100%;
}
.slide span{
  top: 100px;
  left:100px;
  position: absolute;
  color: white;
  float:left;
}
.nav-bar {
    height: 7%;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    /* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
    font-family: 'Open Sans' , sans-serif;
    font-size: 15pt;
    color: white;
    font-weight: bold;
    margin-top: 0;

}
.nav-bar-head {
    width: 50%;
    height: 100%;
    padding: 0.5% 2%;
    float: left;
}
.nav-bar-tabs {
    width: 50%;
    height: 100%;
    float: right;
}
.tabs {
    float: right;
    padding: 1% 2%;
    height: 100%;
}
.title-image p{
  vertical-align: middle;
  text-align: left;
  font-size: 20px;
  float: left;
  margin-left: 20%;
  margin-top: 15%;
  color: white;
}
.page-header{
  text-align: center;
  background-color:#FFC107;
  margin-top:0;
  padding-top:0;
}
.navButton{
  float:right;
  position:absolute;
  width: 5%;
}
.logo{
  width:12%;
  height:100%;
  background-color: #FFC107;
  z-index: 2;
}
.feed{
  width:70%;
  height:100%;
  margin:auto;
  margin-top: 5%;

}
.card{
  margin:auto;
  margin-bottom: 1%;
  background-color: white;
  padding:0;
  padding-bottom: 1%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card img{
  width:100%;
  margin:0px;

}
.card-text{
  margin: 1%;
}
.details{
  padding:1%;
}
.weather{
color: #FBC02D;
font-size:30px;
}
.price{
color: #388E3C;
font-size:30px;
}
.card-title{
  margin: 1%;
}
